services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: fixmatedb
      POSTGRES_USER: fixmate
      POSTGRES_PASSWORD: fixmate
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


  pgadmin:
    image: dpage/pgadmin4
    container_name: fixmate-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@fixmate.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres


volumes:
  pgdata:
