spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fixmatedb?stringtype=unspecified
    username: fixmate
    password: fixmate


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  jackson:
    serialization:
      INDENT_OUTPUT: true



  mail:
    host: smtp.gmail.com
    port: 587
    username: app.fixmate@gmail.com
    password: meli vwuj oqmu nbup
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  servlet:
   multipart:
     max-file-size: 5MB
     max-request-size: 5MB


server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

jwt:
  secret: "a2Fqc2RmaGtqYXNoZGZqa2Foc2RmaGpkaGFqa2RmaGo="
  expirationMs: 86400000  # 1 day in ms

#need to save an env
google:
  #client-id: ${GOOGLE_CLIENT_ID} like this
  client-id: 734171544044-2imsllssiq2ibnm2m055uql6n699ejks.apps.googleusercontent.com

app:
  upload:
    profile-pics-dir: uploads/profile-pics
    max-file-size: 5242880 # 5MB
