grafana:
  enabled: true
  adminPassword: admin123

  service:
    type: LoadBalancer
    port: 80

  persistence:
    enabled: true
    storageClassName: standard-rwo
    size: 5Gi

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 256Mi

prometheus:
  prometheusSpec:
    retention: 7d

    podAntiAffinity: ""

    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 10Gi

    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 200m
        memory: 512Mi

alertmanager:
  enabled: true

  alertmanagerSpec:
    replicas: 1
    resources:
      requests:
        cpu: 20m
        memory: 64Mi
      limits:
        cpu: 50m
        memory: 128Mi


prometheus-node-exporter:
  enabled: true

kubeProxy:
  enabled: false

kubeScheduler:
  enabled: false

kubeControllerManager:
  enabled: false

kubeEtcd:
  enabled: false

kubeStateMetrics:
  enabled: true
