grafana:
  enabled: true
  adminPassword: admin123

  service:
    type: NodePort
    nodePort: 32000

  persistence:
    enabled: true
    storageClassName: standard-rwo
    size: 5Gi

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 256Mi


prometheus:
  prometheusSpec:
    retention: 7d

    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

    resources:
      requests:
        cpu: 150m
        memory: 512Mi
      limits:
        cpu: 300m
        memory: 1Gi


alertmanager:
  enabled: true

  alertmanagerSpec:
    replicas: 1

    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 100m
        memory: 256Mi


nodeExporter:
  enabled: true

  resources:
    requests:
      cpu: 30m
      memory: 64Mi
    limits:
      cpu: 60m
      memory: 128Mi


kubeStateMetrics:
  enabled: true
