name: Fixmate Dev CI

on:
  push:
    branches: ["dev"]

jobs:
  build-test:
    name: Build & Test (Dev)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Cache Maven Packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Build (Skip Tests)
        run: mvn -B clean package -DskipTests

      - name: Notify Jenkins after Docker push
        run: |
          curl -X POST \
            -H "Content-Type: application/json" \
            -H "X-GitHub-Event: push" \
            -d '{"ref":"refs/heads/main"}' \
            http://136.111.0.19:8080/github-webhook/
