name: Fixmate Backend CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-test:
    name: Build & Test Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Cache Maven Packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Build (Skip Tests)
        run: mvn -B clean package -DskipTests


  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: build-test

    if: github.event_name == 'push'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Build Spring Boot JAR
        run: mvn -B clean package -DskipTests

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract Version Tag
        id: vars
        run: |
          echo "TAG=$(date +%Y%m%d%H%M%S)" >> $GITHUB_OUTPUT
          echo "${{ steps.vars.outputs.TAG }}" > image-tag.txt

      - name: Build and Push Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/fixmate-backend:latest
            ${{ secrets.DOCKER_USERNAME }}/fixmate-backend:${{ steps.vars.outputs.TAG }}

      - name: Trigger Jenkins CD
        run: |
          curl -X POST "http://${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_TOKEN }}@${{ secrets.JENKINS_URL }}:8080/job/fixmate-backend/buildWithParameters?IMAGE_TAG=${{ steps.vars.outputs.TAG }}"


